
.cadastroContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('/public/CadastroBackground.png') no-repeat center center/cover;
}


.cadastroCard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.281);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}


.formContainer {
    display: flex;
    align-items: center;
    width: 100%;
}


.formSection {
    width: 100%;
    padding: 0 20px;
}


.cadastroTitle {
    color: #1e0176;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
}


.cadastroForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.inputField {
    width: 100%;
    max-width: 320px;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
}

.inputField:focus {
    border-color: #007bff;
}


.passwordField {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 320px;
}

.togglePasswordButton {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    color: #004D99;
    font-size: 1.2rem;
}


.cadastroButton {
    width: 100%;
    max-width: 320px;
    height: 50px;
    background-color: #00AEEF;
    color: #E0F7FF;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.cadastroButton:hover {
    background-color: #E0F7FF;
    color: #00AEEF;
}


.cadastroLinks {
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
}

.link {
    color: #007bff;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}
