/* Estilo para o container principal */
.loginContainer {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100vh;
    background: url('/public/Login4.png') no-repeat center center/cover;
}

/* Cartão de login */
.loginCard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    width: 800px;  /* Largura do cartão de login com a imagem ao lado */
    height: 500px;
    background-color: rgba(255, 255, 255, 0.281);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);

}

/* Container para o formulário e a imagem */
.formContainer {
    display: flex;
    align-items: center;
    width: 100%;
}

/* Seção do formulário de login */
.formSection {
    width: 50%;
    padding-right: 20px;
}

/* Estilo da imagem */
.imageSection {
    width: 50%;
    padding-left: 20px;
}

.loginImage {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Título do login */
.loginTitle {
    color: #1e0176;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

/* Formulário de login */
.loginForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Estilo dos campos de entrada */
.inputField {
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.inputField:focus {
    border-color: #007bff;
}

/* Botão de login */
.loginButton {
    background-color: #00AEEF;
    color: #E0F7FF;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.loginButton:hover {
    background-color: #E0F7FF;
    color: #00AEEF;
}

/* Links de cadastro e esqueceu senha */
.loginLinks {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 20px;
    text-align: center;
}

.link {
    color: #007bff;
    text-decoration: none;
    text-align: center;
}
.links {
    color: #007bff;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}
.link:hover {
    text-decoration: underline;
}
.links:hover {
    text-decoration: underline;
}

/* Seção de login social */
.socialLogin {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    
}

.socialIcons {
    display: flex;
    justify-content: center;
    gap: 15px;

}

.socialButton {
    background: none;
    border: none;
    padding: 12px;
    cursor: pointer;
    transition: transform 0.3s;
}

.socialButton:hover {
    transform: scale(1.1);
}

.socialButton svg {
    color: #fff;

}

.facebook svg {
    background-color: #3b5998;
    border-radius: 50%;
    padding: 8px;
}

.google svg {
    background-color: #db4437;
    border-radius: 50%;
    padding: 8px;
}
