.quemSomos {
    width: 100%;
    min-height: 100vh;
    background-color: #FFFFFF;
    padding: 50px 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.quemSomosHero {
    max-width: 1200px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 50px; 
}

.quemSomosTexto {
    flex: 1; 
    max-width: 50%; 
}

.quemSomosTexto .tituloquemSomos {
    font-size: 50px;
    color: #004D99;
    margin-bottom: 20px;
    text-align: center;
}

.quemSomosTexto .textoquemSomos {
    font-size: 20px;
    color: #004D99;
    line-height: 1.8;
    margin-bottom: 20px;
    text-align: justify;
    margin-top: 30px;
}

.quemSomosImagem {
    flex: 1; 
    max-width: 40%; 
    margin-right: auto; 
    margin-left: 10px; 
}


.imagemQuemSomos {
    width: 100%;
    height: auto;
    margin-left: 150px;
    border-radius: 10px; 
}

.quemSomosCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 50px; 
}

.card {
    background-color: #004D99;
    color: white;
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}


.card h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #E0F7FF;
}

.card p {
    font-size: 16px;
    color: #E0F7FF;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}
