.containerRelatorio {
    padding: 20px;
    min-height: 790px; 
    background: linear-gradient(135deg, #F8FBFF, #5AB9EA);

}

.tituloRelatorio {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 30px;
    color: #004D99;
    margin-top: 50px;
}

.cardsContainerRelatorio {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.cardRelatorio {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    padding: 20px;
    transition: transform 0.3s ease;
    text-align: center;
}

.cardRelatorio:hover {
    transform: scale(1.05);
}

.cardHeaderRelatorio {
    background-color: #E0F7FF;
    color: #004D99;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.cardBodyRelatorio {
    font-size: 1rem;
    color: #000;
}

.cardFooterRelatorio {
    margin-top: 20px;
}

.botaoDetalhes {
    background-color: #00AEEF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.botaoDetalhes:hover {
    background-color: #d8e1ec;
    color: #00AEEF;
}


