.containerHistorico {
    padding: 20px;
    min-height: 790px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: linear-gradient(135deg, #F8FBFF, #5AB9EA);
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.tituloHistorico {
    text-align: center; 
    font-size: 2.5rem;
    color: #004D99;
    margin-left: 500px;
    margin-top: 25px;
    margin-bottom: 25px;

}

.filtro {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.filtro label {
    margin-right: 10px;
    font-size: 1.3rem;
    color: #004D99;
}

.filtro select {
    padding: 5px;
    font-size: 0.9rem;
    border-radius: 5px;
    border: 1px solid #004D99;
    background-color: #E0F7FF;
    color: black;
    cursor: pointer;
}

.tabelaHistorico {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #E0F7FF;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tabelaHistorico th, .tabelaHistorico td {
    padding: 12px;
    text-align: center;
    border: 1px solid #d8e1ec;
}

.tabelaHistorico th {
    background-color: #00AEEF;
    color: #000;
}

.tabelaHistorico tr:nth-child(even) {
    background-color: #b1dff0;
}

.tabelaHistorico tr:hover {
    background-color: #d8e1ec;
}

/* Responsividade */
@media (max-width: 1024px) {
    .tituloHistorico {
        font-size: 1.75rem;
        margin-bottom: 18px;
    }
    .filtro {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 768px) {
    .tituloHistorico {
        font-size: 1.5rem; 
        margin-bottom: 15px;
        margin: 0 auto;
    }
    .filtro {
        flex-direction: column;
        align-items: flex-start;
    }
    .filtro label, .filtro select {
        font-size: 1rem;
    }
    .tabelaHistorico {
        font-size: 0.9rem; 
        background-color: white;
    }
    .tabelaHistorico th, .tabelaHistorico td {
        padding: 8px; 
    }
    .containerHistorico {
        padding: 10px; 
    }
    .tabelaHistorico th, .tabelaHistorico td {
        white-space: nowrap; 
    }
}

@media (max-width: 480px) {
    .tituloHistorico {
        font-size: 1.25rem; 
        margin-bottom: 10px; 
    }
    .filtro {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .tabelaHistorico {
        font-size: 0.8rem; 
    }
    .tabelaHistorico th, .tabelaHistorico td {
        padding: 6px; 
    }
    .containerHistorico {
        padding: 8px; 
    }
    .tabelaHistorico {
        display: block;
        width: 100%;
        overflow-x: auto;
    }
    .tabelaHistorico th, .tabelaHistorico td {
        white-space: nowrap; 
    }
}

@media (max-width: 1024px) {
    .tituloHistorico {
        font-size: 2rem; 
        margin-bottom: 15px;
        margin: 0 auto;
    }
}
