.cadastrarMedicamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff; 
    min-height: 515px;
}

.tituloCadastrarMedicamento {
    font-size: 40px;
    color: #004D99; /* Cor para títulos */
    margin-bottom: 20px;
    text-align: center;
}

.formMedicamento {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 500px;
    background-color: #E0F7FF; /* Fundo dos formulários */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.formMedicamento label {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    color: #004D99;
    font-weight: bold;
}

.formMedicamento input {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #004D99; /* Cor para bordas */
    border-radius: 4px;
    font-size: 1rem;
}

.formMedicamento input[type="file"] {
    padding: 5px;
}

.botaoCadastrar {
    background-color: #00AEEF; /* Botão de destaque */
    color: #d8e1ec;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.botaoCadastrar:hover {
    background-color: #d8e1ec; /* Cor ao passar o mouse */
    color: #00AEEF;
}

.listaMedicamentos {
    margin-top: 30px;
    width: 100%;
    max-width: 500px;
}

.listaMedicamentos h2 {
    font-size: 1.5rem;
    color: #004D99;
    margin-bottom: 15px;
    text-align: center;
}

.medicamentoItem {
    background-color: #E0F7FF;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
}

.medicamentoItem p {
    margin: 5px 0;
    color: #004D99;
}

.fotoMedicamento {
    margin-top: 10px;
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    object-fit: cover;
}

.notificationCadastroMedicamento {
    background-color: #00AEEF; 
    color: white;
    padding: 10px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    z-index: 1000;
    font-size: 16px;
    text-align: center;
    width: 300px;
}


/* Responsividade */
@media (max-width: 600px) {
    .formMedicamento, .listaMedicamentos {
        padding: 10px;
    }

    .formMedicamento label {
        font-size: 0.9rem;
    }

    .botaoCadastrar {
        font-size: 0.9rem;
        padding: 8px;
    }

    .medicamentoItem {
        padding: 10px;
    }
}
