.containerAgendarMedicamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
    min-height: 790px;
}

.formContainerAgendarMedicamento {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    background-color: #E0F7FF;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}

.tituloAgendarMedicamento{
    margin-bottom: 50px;
    color: #004D99;
    font-size: 2.5rem;
}

.labelAgendarMedicamento {
    font-weight: 600;
    font-size: 20px;
    color: #004D99;

}

.inputAgendarMedicamento, .selectAgendarMedicamento {
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    border: 1px solid #004D99;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
    margin-bottom: 20px;
    transition: border-color 0.3s;
}

.inputAgendarMedicamento:focus, .selectAgendarMedicamento:focus {
    border-color: #004D99;
}

.submitButtonAgendarMedicamento {
    padding: 12px;
    background-color: #00AEEF;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-left: 70px;

}

.submitButtonAgendarMedicamento:hover {
    background-color: white;
    color: #00AEEF;
}


.notificacao {
    background-color: #00AEEF;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Responsividade: */
@media (max-width: 768px) {
    .containerAgendarMedicamento {
        padding: 20px;
        max-width: 400px;
    }

    .formContainerAgendarMedicamento {
        padding: 30px;
    }

    .tituloAgendarMedicamento {
        font-size: 20px;
        text-align: center;
    }

    .labelAgendarMedicamento {
        font-size: 14px;
    }

    .inputAgendarMedicamento, .selectAgendarMedicamento {
        font-size: 13px;
    }

    .submitButtonAgendarMedicamento {
        font-size: 14px;
        padding: 10px;
        margin-left: 0;
    }
}

@media (max-width: 480px) {
    .containerAgendarMedicamento {
        padding: 10px;
        max-width: 100%;
    }

    .formContainerAgendarMedicamento {
        padding: 20px;
        gap: 15px;
    }

    .tituloAgendarMedicamento {
        font-size: 18px;
    }

    .labelAgendarMedicamento {
        font-size: 12px;
    }

    .inputAgendarMedicamento, .selectAgendarMedicamento {
        font-size: 12px;
        padding: 8px;
    }

    .submitButtonAgendarMedicamento {
        font-size: 12px;
        padding: 8px;
        width: 100%;
        margin: 0;
    }

    .notificacao {
        font-size: 14px;
    }
}
