.containerDetalhes {
    background: linear-gradient(135deg, #F8FBFF, #5AB9EA);
    padding: 20px;
}

.containerFundoAlterado { 
    background-color: #E0F7FF; 
    padding: 20px;
    border-radius: 8px;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tituloDetalhes {
    font-size: 2.5rem;
    font-weight: 600;
    color: #004D99;
    margin-bottom: 20px;
    text-align: center;
}

.informacoesBasicas,
.instrucoesUso,
.efeitosColaterais,
.historicoUso,
.graficoUso {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.informacoesBasicas h2,
.instrucoesUso h3,
.efeitosColaterais h3,
.historicoUso h3,
.graficoUso h3 {
    font-size: 1.5rem;
    color: #004D99;
    margin-bottom: 10px;
}

.informacoesBasicas p,
.instrucoesUso p,
.efeitosColaterais p,
.historicoUso p {
    font-size: 1rem;
    line-height: 1.6;
    color: #000;
}

.botaoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botaoVoltar {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #00AEEF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.botaoVoltar:hover {
    background-color: white;
    color: #00AEEF;
}

.graficoUso p {
    font-size: 1rem;
    color: #888;
    margin-top: 10px;
}

.botaoImprimir {
    display: block;
    width: 200px;
    padding: 12px;
    background-color: #00AEEF;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.botaoImprimir:hover {
    background-color: white;
    color: #00AEEF;
}

/* Responsividade */
@media (max-width: 768px) {
    .containerDetalhes {
        width: 100%;
        padding: 10px;
    }

    .tituloDetalhes {
        font-size: 2rem;
    }

    .informacoesBasicas,
    .instrucoesUso,
    .efeitosColaterais,
    .historicoUso,
    .graficoUso {
        padding: 10px;
    }

    .botaoContainer {
        flex-direction: column; 
        gap: 10px;
    }

    .botaoVoltar,
    .botaoImprimir {
        width: 100%; 
    }

    .graficoUso {
        height: 450px;
    }
}

@media (max-width: 480px){
    .graficoUso {
        height: 250px;
    }
}

/* Estilo para Impressão */
@media print {
    body * {
        visibility: hidden;
    }

    .containerDetalhes, .containerDetalhes * {
        visibility: visible;
    }

    .containerDetalhes {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }


    footer, header {
        display: none;
    }

    .botaoContainer, .botaoImprimir {
        display: none;
    }

    .graficoUso {
        width: 100%;
        height: 400px;  
    }

    
    .graficoUso canvas {
        width: 100% !important; 
        height: auto !important; 
    }
}
