.header {
    width: 100%;
    height: 90px;
    background-color: #E0F7FF;
    color: var(--terceary);
    border: 2px solid #E0F7FF;
    box-shadow: 0 0.3px 5px;
}

.logo {
    width: 180px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem; 
}

.nav .quemSomos {
    margin-left: auto; 
    font-size: 20px;
}

.nav .login {
    margin-left: 1rem; 
    font-size: 20px;
}

.nav .quemSomos a,
.nav .login a {
    text-decoration: none;
    color: #004D99;
    font-weight: bold;
}

.nav .login a:hover, 
.nav .quemSomos a:hover {
    color: #00AEEF;
}


/* Responsividade */
@media (max-width: 768px) {
    .nav {
        padding: 0.5rem;
    }

    .nav .quemSomos,
    .nav .login {
        font-size: 18px;
    }

    .logo {
        width: 150px;
    }
}

@media (max-width: 480px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 0.5rem;
    }

    .nav .quemSomos,
    .nav .login {
        margin: 10px 0;
        font-size: 18px;
    }

    .logo {
        width: 120px;
    }

    .nav {
        flex-direction: column;
        align-items: center;
    }

    .nav .quemSomos,
    .nav .login {
        font-size: 16px;
    }
}
