.footerHome {
    background-color: #E0F7FF; 
    color: #004D99; 
    padding: 20px 10px;
    text-align: center;
}

.footerContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.footerLogo h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #004D99;
}

.footerLogo p {
    font-size: 16px;
    line-height: 1.5;
}

.footerLinks h4, .footerSocial h4 {
    margin-bottom: 10px;
    font-size: 18px;
    text-transform: uppercase;
    color: #004D99;
    margin: 0 90px 0 90px;
}

.footerLinks ul {
    list-style: none;
    padding: 0;
}

.footerLinks ul li {
    margin: 4px 0;
}

.footerLinks ul li a {
    text-decoration: none;
    color: #004D99;
    transition: color 0.3s;
}

.footerLinks ul li a:hover {
    color: #00AEEF; 
}

.socialIcons a {
    color: #004D99;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s;
}

.socialIcons{
    margin-top: 15px;
}

.socialIcons a:hover {
    color: #00AEEF; 
}

.footerBottom {
    border-top: 1px solid #00AEEF;
    padding-top: 8px;
    font-size: 12px;
    text-align: center;
    /* margin-left: 130px; */
}

@media (max-width: 768px) {
    .footerContent {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .footerHome {
        padding: 15px 5px;
    }
    .footerLogo h2 {
        font-size: 18px;
    }
    .footerLogo p {
        font-size: 12px;
    }
    .footerLinks h4, .footerSocial h4 {
        font-size: 14px;
    }
    .footerLinks ul li a {
        font-size: 12px;
    }
    .socialIcons a {
        font-size: 18px;
    }
    .footerBottom {
        font-size: 10px;
    }
}
