.containerCalendarioMedicamento {
    padding: 20px;
    background: linear-gradient(135deg, #F8FBFF, #5AB9EA);
    min-height: 790px; 
}

.tituloCalendarioMedicamento {
    text-align: center;
    font-size: 2.5rem;
    color: #004D99;
    margin-top: 30px;
    margin-bottom: 20px;
}

.calendarContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.calendar {
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #ffffff;
    font-size: 20px;
    width: 500px;
    height: 400px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.medicamentosContainer {
    padding: 20px;
    background-color: #E0F7FF;
    border-radius: 8px;
    color: #004D99;
    font-size: 20px;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.medicamentosContainer h2{
    text-align: center; 
}

.medicamentosContainer p{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000;
    text-align: center;
}

.medicamentoList {
    list-style-type: none;
    padding: 0;
}

.medicamentoItem {
    padding: 10px;
    background-color: #ffffff;
    margin: 10px 0;
    border-radius: 5px;
}

.medicamentoItem strong {
    color: #000;
}

.tomarMedicamentoButton {
    background-color: #5AB9EA;
    color: #ffffff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 5px;
}

.tomarMedicamentoButton:hover {
    background-color: #004D99;
}

@media (max-width: 768px) {
    .tituloCalendarioMedicamento {
        font-size: 1.5rem;
    }

    .calendar {
        width: 100%;
        height: auto;
        font-size: 18px;
    }

    .medicamentosContainer {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .tituloCalendarioMedicamento {
        font-size: 1.2rem;
        margin-bottom: 15px;
    }

    .calendar {
        width: 100%;
        height: 350px;
        font-size: 16px;
    }

    .medicamentosContainer {
        font-size: 16px;
        padding: 15px;
    }

    .medicamentoItem {
        padding: 8px;
    }
}